
.h1home {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    margin: 50px auto 0;
    animation:
        typing 5s steps(30,end),
        blink-caret 5s step-end;
        font-size: 3vw;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color:transparent
    }
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textehome {
    margin-top: 5%;
    margin-right: 2%;
    margin-left: 2%;
    line-height: 1.4;
    color: seashell;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}

.moi {
    float: left;
    margin-right: 2%;
    border-radius: 50vh;
    -webkit-border-radius: 50vh;
    -moz-border-radius: 50vh;
    -ms-border-radius: 50vh;
    -o-border-radius: 50vh;
    animation: pulse 1.5s infinite;
    -webkit-animation: pulse 1.5s infinite;
    width: 20%;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(124, 94, 94, 0.4);
    }

    5% {
        transform: scale(1.01);
    }

    15% {
        transform: scale(1);
    }

    70% {
        box-shadow: 0 0 0 50px rgba(168, 63, 57, 0);
    }

    100% {
        box-shadow: 0 0 0 100px rgba(168, 63, 57, 0);
    }
}
.header,
.videohome,
.h1home,
.photo-container,
.textehome,
.moi,
.footer {
    margin-bottom: 1.5rem;
    /* Vous pouvez ajuster la valeur selon l'espacement désiré */
}
/* Styles pour les petits écrans */
@media (max-width: 767px) {
    .h1home {
    display: none;
    }

    .textehome {
        margin-right: 5%;
        margin-left: 5%;
        font-size: 1.5rem;
        line-height: 5vh;
        text-align: center;
    }

    .moi {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }
}

/* Styles pour les écrans de taille moyenne */
@media (min-width: 768px) and (max-width: 991px) {
    .textehome {
        margin: 10%;
    }

    .moi {
        margin-left: 5%;
        margin-right: 5%;
        width: 30%;
    }
}


/* Animation de fondu en entrée */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}