.textinfo {
    text-align: center;
    color: white;
    margin: 10%;
    line-height: 1.8;
}
.textinfo1{
    text-align: center;
        color: white;
        margin: 5%;
        line-height: 1.8;
}