.carousel-container {
    margin: 0 auto;
    margin-top: 4%;
    width: 100%;
}

.carousel-container a {
    padding-top: 0.5vw;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.carousel-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.carousel-image-content {
    margin: 0 2vw;
    text-align: center;
}

.carousel-image {
    cursor: pointer;
    max-width: 100%;
    margin-bottom: 10px;
    max-height: 40vh;
    object-fit: contain;
    background-color: black;
    border-radius: 4vh;
}

@media screen and (max-width: 950px) {
    .carousel-image-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .carousel-container {

        margin-top: 10%;
    }

    

    .carousel-image-content {
        max-width: 70vh;
        margin: 4vh 0;

    }

    .carousel-image-content:hover .carousel-image {
        transform: scale(1);
    }
}

@media screen and (max-width: 480px) {
    .carousel-image-content {
        min-width: 40vh;
    }
}