.carousel-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    width: 90vw;
}

.carousel-container a {
    padding-top: 0.5vw;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;


}

.carousel-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 1200px;
}

.carousel-image {
    cursor: pointer;
    margin: 0 2vw;
    /* ajuster la marge horizontale au besoin */
    max-width: 20vw;
    /* ajuster la largeur maximale au besoin */
    margin-bottom: 10px;
    max-height: 50vh;
    min-height: 30vh;
    background-color: black;
    border-radius: 4vh;

}

.carousel-image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

.carousel-image-content:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


@media screen and (max-width: 767px) {
    .carousel-container {
        margin-top: 10%;

    }

    .carousel-image-container {
        display: flex;
        flex-direction: column;
        gap: 50px;


    }

    .carousel-image {
        min-width: 70vh;
        max-height: 50vh;
    }

    .carousel-image-content {
        margin: 4vh;
    }

    .carousel-image-content:hover {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

@media screen and (max-width: 480px) {
    .carousel-image {
        min-width: 40vh;


    }
}