@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Press+Start+2P&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka+One&family=Orbitron&family=Press+Start+2P&family=Roboto:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b1e28;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 991px) {
    body {
      margin: 0;
      padding: 0;
      overflow: scroll;
      box-sizing: border-box;


    }

  }
@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    box-sizing: border-box;


  }

}